@import url("Roots.css");
/* общее */


.task-image { 
  /* картинка */
  max-width: 100%;
  width: auto;
  display: block;
}

.imgContainer {
  /* контейнер с картинкой */
  overflow: hidden;
}


@media (max-width: 768px) 
/* адаптация картинки под маленькие экраны */
{
  .subtheme-list h3 {
    font-size: 2em;
  }

  .imgContainer {
    overflow: hidden;
  }
}

.theme-title,
h3,
.task-number {
/* большие шрифты для некоторых заголовков */
  font-size: var(--font-size-main);
  font-family: var(--font-main);
}

.theme-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid var(--color-secondary);
  padding: 10px;
  border-radius: 8px;
  text-align: center;


}

.subtheme-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.task-item {
  margin-bottom: 20px;
  padding: 25px 0px;
  border: 1px solid var(--color-secondary);
  border-radius: 8px;
  background-color: var(--color-background);
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* Добавлено: чтобы контент не вылезал */

}

.answer-input {
  padding: 8px;
  margin: 5px 0;
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
  border-radius: 5px;
}

.decision-button {
  padding: 8px 15px;
  background-color: var(--color-primary);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 5px;
  display: none;
}

.decision-button:hover {
  background-color: var(--color-primary-animation);
}

.solution-image {
  max-width: 100%;
  /* Изменено: чтобы изображение занимало всю доступную ширину */
  height: auto;
  /*  Добавлено: чтобы высота масштабировалась пропорционально */
  display: block;
  /* Добавлено:  убирает лишний отступ снизу у картинок */
  margin-top: 10px;
}

.result-message {
  margin-top: 10px;
  font-weight: bold;
}

.result-message.correct {
  color: green;
}

.result-message.incorrect {
  color: red;
}

/* задания */

h2 {
  align-self: center;
}


.tasks-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  align-self: center;

}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 90%; */
  /* Добавлено: чтобы контент не вылезал */

}

.answer-button {
  padding: 8px 15px;
  background-color: var(--color-primary);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 5px;
}

.answer-button:hover {
  background-color: var(--color-primary-animation);
}



/* семестровые */



.semester-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.generate-button {
  padding: 10px 20px;
  background-color: var(--color-primary);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 10px;
}

.generate-button:hover {
  background-color: var(--color-primary-animation);
}

#semester-variants {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.variant-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 1px solid var(--color-secondary);
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
  /* Добавлено: чтобы контент не вылезал */
  overflow: hidden;
}

#submit-semester-button {
  padding: 10px 20px;
  background-color: var(--color-primary);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 20px 0;
}

#submit-semester-button:hover {
  background-color: var(--color-primary-animation);
}


.subtheme-number {
  font-weight: bold;
  margin-right: 5px;
}