@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Unbounded:wght@200..900&family=Zen+Kaku+Gothic+Antique&display=swap');

:root {

  /* правила для цветовой гаммы */

  --color-primary: #162745;
  --color-primary-animation: #0e2d63;
  --color-secondary: #000000;
  --color-background: #ffffff;

  /* основные правила для геометрии */

  --border-radius-main: 35px;
  --border-radius-secondary: 50px;

  /* Шрифты */
  --font-header: "Dela Gothic One", serif;
  --font-main: "Zen Kaku Gothic Antique", serif;
  --font-weight-main: 550;

  /* Размеры */

  --font-size-large: 12px;
  --font-size-large-but-smaller: 7vw;
  --font-size-main: 1.4vw;
  --font-size-small: 1vw;
  --font-size-for-btns: 5vw;

  --px20: 1.6vw;
  --px15: 1.2vw;
  --px80: 6vw;


}


@media (min-width: 990px) {
    :root {
      --font-size-large: 120px; 
      
      --font-size-large-but-smaller: 120px; /* Для хедеров */
      
      --font-size-main: 1.6vw;
      --px20: 2vw;
      --px15: 1.5vw;
      --px80: 8vw;
    }
  
    .buttons {
      margin-right: 10%;
      /*  */
    }
  
    .button img {
      max-width: 20%;
      /*Чтобы изображение котика не вылезало за пределы*/
      /* margin-bottom: 10px; */
    }
  
    .button {
      width: 100%;
      /* Кнопки занимают большую часть ширины экрана */
      margin-bottom: 10px;
      padding: 100px 20px 15px 20px;
  
    }
  
    h2 {
      text-align: center;
    }
  
    .tasks-container {
      width: 70%;
    }
    .task-item{
      width: 90%;
      padding: 15px; 
    }
  
  }
  
  /* планшеты */
  
  @media (max-width: 990px) {
    :root {
      --font-size-large: 40px;
      --font-size-large-but-smaller: 32px;
      --font-size-main: 16px;
      --font-size-small: 12px;
  
      --px20: 20px;
      --px15: 15px;
      --px80: 48px;
    }
  
    nav a {
      margin: 0 10px;
      /* Уменьшаем отступы между ссылками */
    }
  
    .buttons {
      margin-right: 5%;
      /*  */
    }
  
  }
  
  
  /* телефоны */
  
  @media (max-width: 770px) {
    :root {
      --font-size-large: 35px;
      --font-size-large-but-smaller: 50px;
      --font-size-main: 14px;
      --font-size-small: 10px;
      --font-size-for-btns: 30px;
  
      --px20: 16px;
      --px15: 12px;
      --px80: 40px;
    }
  
    h2 {
      text-align: center;
  
    }
    nav a {
      margin: 5px 0;
    }
  
    .mainpagetitle h1 {
      font-size: var(--font-size-large);
    }
  
    .pagestitles h1 {
      font-size: var(--font-size-large-but-smaller);
      text-align: center;
    }
  
    .titles p {
      font-size: 1em;
      line-height: 1.4;
    }
  
    .buttons {
      flex-direction: column;
      /* Перестраиваем кнопки в столбец */
      align-items: center;
      /*  */
      margin-right: 0%;
    }
  
    .button {
      width: 100%;
      /* Кнопки занимают большую часть ширины экрана */
      margin-bottom: 10px;
      padding: 50px 20px 20px 20px;
  
    }
    .button img {
      max-width: 30%
    }
    footer {
      text-align: center;
      /* Центрируем текст в подвале */
    }
  
  
  
    .tasks-container {
      width: 100%;
    }
    .task-item{
      width: 95%; 
      /* padding: 15px 0px 15px 0px; */
    }
  }
  
  /* Меньше 576px (самые маленькие телефоны) */
  @media (max-width: 576px) {
    :root {
      --font-size-large: 35px;
      --font-size-large-but-smaller: 50px;
      --font-size-main: 14px;
      --font-size-small: 9px;
    }
  
    .button {
      width: 100%;
      /* Кнопки занимают еще большую часть ширины экрана */
    }
  }